{{define "content"}}
<div class="modal">

    <div class="modal-content">
        <span id="modalText">qwq</span>
        <span class="modal-close">关闭</span>
    </div>
</div>

<div class="body">
    <div class="body-content">
        <h class="text">一个简单的登录网站</h>

        <div class="body-zhegai">
            <img src="/static/mmc.png" class="donghua">
            <div class="body-zhuangshi">

                <form id="formElem2" class="form" action="/login" method="post">
                    <div>
                        <label for="username">账号</label>
                        <input id="username" name="username" type="text" required>

                    </div>
                    <div>
                        <label for="password" >密码</label>
                        <div class="tooltip" >
                            <input id="password" name="password" type="password"style="height: 100%" required >
                        </div>

                    </div>
                    <div style="margin-top: 30px;width: 100px;height: 40px;margin-left: auto;margin-right: auto;">
                        <input class="button1"  type="submit"value="登录" style="width: 70px">
                    </div>

                </form>
            </div>

        </div>
        <div class="zhuce">
            <div style="display: inline-block;">还没登陆？</div>
            <a href="/reg" style="display: inline-block;text-decoration: none;  color: rgb(109, 76, 65);"
            >点击注册</a>
        </div>
    </div>

</div>
<script src="/static/xyq2.js" >

</script>








{{end}}