{{define "content"}}
<div class="modal">

    <div class="modal-content">
        <span id="modalText">qwq</span>
        <span class="modal-close">关闭</span>
    </div>
</div>

<div class="body">
    <div class="body-content">
        <h id="tihuan" class="text">一个依旧简单的注册网站</h>
        <div class="body-zhegai">
            <img src="/static/mmc.png" class="donghua">
            <div class="body-zhuangshi">

                <form class="form" id="formElem" action="/regReceive" method="post">
<div>
                        <label for="username">账号</label>
                        <input id="username" name="username" type="text" required>

</div>
                    <div>
                        <label for="password" >密码</label>
                        <div class="tooltip" >
                            <input id="password" name="password" type="password"style="height: 100%" required >
                            <div class="tool-text" >密码需由大于等于八位的数字和字母组成</div>
                        </div>

                    </div>
                    <div style="margin-top: 30px;width: 100px;height: 40px;margin-left: auto;margin-right: auto;">
                        <input class="button1"  type="submit"value="注册" style="width: 70px">
                    </div>

                </form>
            </div>

        </div>
        <div class="zhuce">
            <a href="/" style="display: inline-block;text-decoration: none;  color: rgb(109, 76, 65);"
            >返回登录</a>
        </div>

    </div>


</div>

<script src="/static/xyq1.js"></script>












{{end}}